.divformComment {
  width: 20%; /* Измените этот процент, чтобы уменьшить форму */
  margin: 0 auto; /* Центрирование формы */
}

.textarea {
  width: 100%;
  height: 40px; /* Уменьшена высота */
  padding: 6px; /* Немного уменьшен отступ */
  margin-bottom: 8px; /* Уменьшен нижний отступ */
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.submitButton {
  background-color: #008000;
  color: white;
  padding: 8px 16px; /* Уменьшен отступ */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px; /* Уменьшен размер шрифта */
}

.submitButton:hover {
  background-color: #005700;
}

.label {
  margin-bottom: 6px; /* Уменьшен нижний отступ */
  font-weight: bold;
}

.commentForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px; /* Добавлен промежуток между элементами формы */
}
